@model Nsted.Models.Sjekkliste

<h2>Sjekkliste</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Serienummer"></label>
        <input asp-for="Serienummer" class="form-control"/>
    </div>

    <div class="form-group">
        <table style="width:100%;">
            <tr>
                <th>Avdeling:</th>
                <th>Sjekkpunkter:</th>
                <th>OK</th>
                <th>Bør skiftes</th>
                <th>Defekt</th>
            </tr>

            <tr>
                <td><b>Mekanisk</b></td>
                <td>Sjekk clutch lammeller for slitasje:</td>
                <td><input type="radio" asp-for="SjekkClutchLamellerForSlitasje" value="Ok" /></td>
                <td><input type="radio" asp-for="SjekkClutchLamellerForSlitasje" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SjekkClutchLamellerForSlitasje" value="Defekt" /></td>
            </tr>

            <tr>
                <td><b></b></td>
                <td>SjekkBremser:</td>
                <td><input type="radio" asp-for="SjekkBremser" value="Ok" /></td>
                <td><input type="radio" asp-for="SjekkBremser" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SjekkBremser" value="Defekt" /></td>
            </tr>

            <tr>
                <td><b></b></td>
                <td>SjekkLagerForTrommel:</td>
                <td><input type="radio" asp-for="SjekkLagerForTrommel" value="Ok" /></td>
                <td><input type="radio" asp-for="SjekkLagerForTrommel" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SjekkLagerForTrommel" value="Defekt" /></td>
            </tr>

            <tr>
                <td><b></b></td>
                <td>SjekkKjedestrammer:</td>
                <td><input type="radio" asp-for="SjekkKjedestrammer" value="Ok" /></td>
                <td><input type="radio" asp-for="SjekkKjedestrammer" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SjekkKjedestrammer" value="Defekt" /></td>
            </tr>

            <tr>
                <td><b></b></td>
                <td>SjekkWire:</td>
                <td><input type="radio" asp-for="SjekkWire" value="Ok" /></td>
                <td><input type="radio" asp-for="SjekkWire" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SjekkWire" value="Defekt" /></td>
            </tr>

            <tr>
                <td><b></b></td>
                <td>SjekkPinonLager:</td>
                <td><input type="radio" asp-for="SjekkPinonLager" value="Ok" /></td>
                <td><input type="radio" asp-for="SjekkPinonLager" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SjekkPinonLager" value="Defekt" /></td>
            </tr>

            <tr>
                <td><b></b></td>
                <td>SjekkKile:</td>
                <td><input type="radio" asp-for="SjekkKile" value="Ok" /></td>
                <td><input type="radio" asp-for="SjekkKile" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SjekkKile" value="Defekt" /></td>
            </tr>

            <tr>
                <td><b>Hydraulisk</b></td>
                <td>SjekkHydrauliskSylinder:</td>
                <td><input type="radio" asp-for="SjekkHydrauliskSylinder" value="Ok" /></td>
                <td><input type="radio" asp-for="SjekkHydrauliskSylinder" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SjekkHydrauliskSylinder" value="Defekt" /></td>
            </tr>

            <tr>
                <td><b></b></td>
                <td>SjekkSlanger:</td>
                <td><input type="radio" asp-for="SjekkSlanger" value="Ok" /></td>
                <td><input type="radio" asp-for="SjekkSlanger" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SjekkSlanger" value="Defekt" /></td>
            </tr>

            <tr>
                <td><b></b></td>
                <td>TestHydraulikkblokk:</td>
                <td><input type="radio" asp-for="TestHydraulikkblokk" value="Ok" /></td>
                <td><input type="radio" asp-for="TestHydraulikkblokk" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="TestHydraulikkblokk" value="Defekt" /></td>
            </tr>

            <tr>
                <td><b></b></td>
                <td>SkifteOljeTank:</td>
                <td><input type="radio" asp-for="SkifteOljeTank" value="Ok" /></td>
                <td><input type="radio" asp-for="SkifteOljeTank" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SkifteOljeTank" value="Defekt" /></td>
            </tr>

            <tr>
                <td><b></b></td>
                <td>SkifteOljeGirBoks:</td>
                <td><input type="radio" asp-for="SkifteOljeGirBoks" value="Ok" /></td>
                <td><input type="radio" asp-for="SkifteOljeGirBoks" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SkifteOljeGirBoks" value="Defekt" /></td>
            </tr>

            <tr>
                <td><b></b></td>
                <td>SjekkRyngsylinder:</td>
                <td><input type="radio" asp-for="SjekkRyngsylinder" value="Ok" /></td>
                <td><input type="radio" asp-for="SjekkRyngsylinder" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SjekkRyngsylinder" value="Defekt" /></td>
            </tr>

            <tr>
                <td><b></b></td>
                <td>SjekkBremsesylinder:</td>
                <td><input type="radio" asp-for="SjekkBremsesylinder" value="Ok" /></td>
                <td><input type="radio" asp-for="SjekkBremsesylinder" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SjekkBremsesylinder" value="Defekt" /></td>
            </tr>


            <tr>
                <td><b>Elektro</b></td>
                <td>SjekkLedningsnett:</td>
                <td><input type="radio" asp-for="SjekkLedningsnett" value="Ok" /></td>
                <td><input type="radio" asp-for="SjekkLedningsnett" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SjekkLedningsnett" value="Defekt" /></td>
            </tr>

            <tr>
                <td><b></b></td>
                <td>SjekkRadio:</td>
                <td><input type="radio" asp-for="SjekkRadio" value="Ok" /></td>
                <td><input type="radio" asp-for="SjekkRadio" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SjekkRadio" value="Defekt" /></td>
            </tr>

            <tr>
                <td><b></b></td>
                <td>SjekkKnappekasse:</td>
                <td><input type="radio" asp-for="SjekkKnappekasse" value="Ok" /></td>
                <td><input type="radio" asp-for="SjekkKnappekasse" value="Bør Skiftes" /></td>
                <td><input type="radio" asp-for="SjekkKnappekasse" value="Defekt" /></td>
            </tr>

          

        </table>
    </div>


    @Html.AntiForgeryToken()

    <div class="d-flex">
        <button type="submit" class="btn btn-primary">Save</button>

        <button type="submit" class="btn btn-danger"
                asp-area=""
                asp-controller="Sjekkliste"
                asp-action="Delete">
            Delete
        </button>
    </div>

</form>