
@model Nsted.Models.Service

<h2>Opprett ny service her </h2>

<form asp-action="Add" method="post">

    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Produkt Type:</label>
        <input asp-for="Produkttype" class="form-control" required />
        <label>Service/Rep: Garanti:</label>
        <input asp-for="ServiceRep" class="form-control" required />
        <label>Årsmodell:</label>
        <input asp-for="Årsmodell" class="form-control" required />
        <label>Serienummer:</label>
        <input asp-for="Serienummer" class="form-control" required />
        <label>Hva er avtalt med kunden?</label>
        <input asp-for="Notat" class="form-control" required />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>

</form>