@model Nsted.Models.Service

<!--View som viser edit siden av en service-->

<h2>Service</h2>

<!--Setter ID som en readonly fordi det ikek skal være mulig å endre ID på en service-->
<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="ID"></label>
        <input asp-for="ID" class="form-control" readonly />
    </div>

    <!--Input forms i servicen som kan endres-->
    <div class="form-group">
        <label asp-for="Produkttype"></label>
        <input asp-for="Produkttype" class="form-control" />
        <label asp-for="ServiceRep"></label>
        <input asp-for="ServiceRep" class="form-control" />
        <label asp-for="Årsmodell"></label>
        <input asp-for="Årsmodell" class="form-control" />
        <label asp-for="Serienummer"></label>
        <input asp-for="Serienummer" class="form-control" />
        <label asp-for="Notat"></label>
        <input asp-for="Notat" class="form-control" />
        <label>KundeID:</label>
        <input asp-for="KundeID" class="form-control" required />
        <label>Status:</label>
        <select asp-for="Status" class="form-control" id="statusSelect">
            <option value="Opprettet">Opprettet</option>
            <option value="Påbegynt">Påbegynt</option>
            <option value="Ferdig">Ferdig</option>
        </select>
    </div>

    <br />

    @Html.AntiForgeryToken()
    <div class="d-flex" style="float: left">
    <button type="submit" class="btn btn-dark">Lagre</button>
    </div>

    <div class="d-flex" style="float: right">
    <!--Knapp med en onlic funksjon for å vise en alert når en service blir slettet-->
    <button type="submit" class="btn btn-danger"
            asp-area=""
            asp-controller="Service"
            asp-action="Delete"
            onclick="confirmDelete()">
        Slett
    </button>

    <!--Script for å vise en alert-->
    <script>
        function confirmDelete() {
            alert("Servicen er slettet!");
            }
    </script>
</div>

</form>
<button class="btn btn-dark" onclick="window.print()">Skriv ut siden</button>