@{
    ViewData["Title"] = "Login Error";

}
<h1 class="text-danger">Login Error</h1>
<h2 class="text-danger">En feil har oppstått, sjekk brukernavn og passord </h2>


<a asp-action="Login" class="btn btn-dark" style="float: left">Tilbake til Logg Inn</a>