@{
    // Setter tittelen til visningen som "Login Error".
    ViewData["Title"] = "Login Error";

}
<h1 class="text-danger">Login Error</h1>
<h2 class="text-danger">En feil har oppstått, sjekk brukernavn og passord </h2>


<!-- Lenke som tar deg tilbake til innloggingsvisningen ved å bruke Login action. -->
<a asp-action="Login" class="btn btn-dark" style="float: left">Tilbake til Logg Inn</a>