@model Nsted.Models.ViewModels.LoginViewModel

@*View som viser en Login side med et HTTP POST form som tar opp brukernavnet og passordet til brukeren *@
@*Bruker LoginViewModelen for å strukturere dataen som blir tatt opp i formet *@

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div clss="col-12 col-lg-6">

            <h1 class="mt -3 mb-3 h3">
                Logg inn
            </h1>

            <form method="post">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label class="form-label">Brukernavn</label>
                    <input type="text" id="username" class="form-control" asp-for="Username" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Passord</label>
                    <input type="password" id="password" class="form-control" asp-for="Password" />
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-dark">Logg inn</button>
                </div>

            </form>
        </div>
    </div>
</div>
