@model Nsted.Models.Kunde

@*
    View som viser et form for å redigere eksisterende kunder,
    med knapper for å lagre endringer og slette en kunden
*@

<h2>Rediger Kunde</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="ID"></label>
        <input asp-for="ID" class="form-control" readonly />
    </div>

    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Fornavn"></label>
        <input asp-for="Fornavn" class="form-control" />
        <label asp-for="Etternavn"></label>
        <input asp-for="Etternavn" class="form-control" />
        <label asp-for="Adresse"></label>
        <input asp-for="Adresse" class="form-control" />
        <label asp-for="Telefon"></label>
        <input asp-for="Telefon" class="form-control" />
        <label asp-for="Epost"></label>
        <input asp-for="Epost" class="form-control" />
    </div>

    <br />

    <div class="d-flex" style="float:left;">
        <button type="submit" class="btn btn-dark">Lagre</button>
    </div>
    
    <div class="d-flex" style="float:right;">
        <button type="submit" class="btn btn-danger"
                asp-area=""
                asp-controller="Kunde"
                asp-action="Delete"
                onclick="confirmDelete()"
                >
            Slett
        </button>

        <script>
            function confirmDelete() {
                alert("Servicen er slettet!");
            }
        </script>
    </div>

</form>