@model Nsted.Models.Kunde

<h2>Add Kunde</h2>

<form asp-action="Index" method="post">

    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Fornavn:</label>
        <input asp-for="Fornavn" class="form-control" required />
        <label>Etternavn:</label>
        <input asp-for="Etternavn" class="form-control" required />
        <label>Adresse:</label>
        <input asp-for="Adresse" class="form-control" required />
        <label>Telefon nummer:</label>
        <input asp-for="Telefon" class="form-control" required />
        <label>E-post:</label>
        <input asp-for="Epost" class="form-control" required />

    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>

</form>


