@{
    ViewData["Title"] = "Opprett Service";
}
<h1>@ViewData["Title"]</h1>

<p>Bruker denne siden for å opprette service</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Link til test</a>