@{
    ViewData["Title"] = "Serviceoversikt";
}
<h1>@ViewData["Title"]</h1>

<p>Bruker denne siden for å vise serviceoversikt</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="sjekkliste">Link til sjekkliste</a>